/AnimeFlix
/iciHello
/material-components-android-codelabs-101-starter
/TodoList
/TP1
/withcompose

#tp0
/TP0_Kotlin_Initiation/*.iml
/TP0_Kotlin_Initiation/.gradle
/TP0_Kotlin_Initiation/local.properties
/TP0_Kotlin_Initiation/.idea/caches
/TP0_Kotlin_Initiation/.idea/libraries
/TP0_Kotlin_Initiation/.idea/modules.xml
/TP0_Kotlin_Initiation/.idea/workspace.xml
/TP0_Kotlin_Initiation/.idea/navEditor.xml
/TP0_Kotlin_Initiation/.idea/assetWizardSettings.xml
/TP0_Kotlin_Initiation/.DS_Store
/TP0_Kotlin_Initiation/build
/TP0_Kotlin_Initiation/captures
/TP0_Kotlin_Initiation/.externalNativeBuild
/TP0_Kotlin_Initiation/.cxx
/TP0_Kotlin_Initiation/local.properties

#tp1
/TP1_graphicalInterface_navigation/*.iml
/TP1_graphicalInterface_navigation/.gradle
/TP1_graphicalInterface_navigation/local.properties
/TP1_graphicalInterface_navigation/.idea/caches
/TP1_graphicalInterface_navigation/.idea/libraries
/TP1_graphicalInterface_navigation/.idea/modules.xml
/TP1_graphicalInterface_navigation/.idea/workspace.xml
/TP1_graphicalInterface_navigation/.idea/navEditor.xml
/TP1_graphicalInterface_navigation/.idea/assetWizardSettings.xml
/TP1_graphicalInterface_navigation/.DS_Store
/TP1_graphicalInterface_navigation/build
/TP1_graphicalInterface_navigation/captures
/TP1_graphicalInterface_navigation/.externalNativeBuild
/TP1_graphicalInterface_navigation/.cxx
/TP1_graphicalInterface_navigation/local.properties

#tp2
/TP2_PresenceList_recycleview/*.iml
/TP2_PresenceList_recycleview/.gradle
/TP2_PresenceList_recycleview/local.properties
/TP2_PresenceList_recycleview/.idea/caches
/TP2_PresenceList_recycleview/.idea/libraries
/TP2_PresenceList_recycleview/.idea/modules.xml
/TP2_PresenceList_recycleview/.idea/workspace.xml
/TP2_PresenceList_recycleview/.idea/navEditor.xml
/TP2_PresenceList_recycleview/.idea/assetWizardSettings.xml
/TP2_PresenceList_recycleview/.DS_Store
/TP2_PresenceList_recycleview/build
/TP2_PresenceList_recycleview/captures
/TP2_PresenceList_recycleview/.externalNativeBuild
/TP2_PresenceList_recycleview/.cxx
/TP2_PresenceList_recycleview/local.properties

#tp3
/TP3_Fragments/*.iml
/TP3_Fragments/.gradle
/TP3_Fragments/local.properties
/TP3_Fragments/.idea/caches
/TP3_Fragments/.idea/libraries
/TP3_Fragments/.idea/modules.xml
/TP3_Fragments/.idea/workspace.xml
/TP3_Fragments/.idea/navEditor.xml
/TP3_Fragments/.idea/assetWizardSettings.xml
/TP3_Fragments/.DS_Store
/TP3_Fragments/build
/TP3_Fragments/captures
/TP3_Fragments/.externalNativeBuild
/TP3_Fragments/.cxx
/TP3_Fragments/local.properties

#tp4
/TP4_BusSchedule_database/*.iml
/TP4_BusSchedule_database/.gradle
/TP4_BusSchedule_database/local.properties
/TP4_BusSchedule_database/.idea/caches
/TP4_BusSchedule_database/.idea/libraries
/TP4_BusSchedule_database/.idea/modules.xml
/TP4_BusSchedule_database/.idea/workspace.xml
/TP4_BusSchedule_database/.idea/navEditor.xml
/TP4_BusSchedule_database/.idea/assetWizardSettings.xml
/TP4_BusSchedule_database/.DS_Store
/TP4_BusSchedule_database/build
/TP4_BusSchedule_database/captures
/TP4_BusSchedule_database/.externalNativeBuild
/TP4_BusSchedule_database/.cxx
/TP4_BusSchedule_database/local.properties

#tp5
/TP5_weatherApp_internetConnexion/*.iml
/TP5_weatherApp_internetConnexion/.gradle
/TP5_weatherApp_internetConnexion/local.properties
/TP5_weatherApp_internetConnexion/.idea/caches
/TP5_weatherApp_internetConnexion/.idea/libraries
/TP5_weatherApp_internetConnexion/.idea/modules.xml
/TP5_weatherApp_internetConnexion/.idea/workspace.xml
/TP5_weatherApp_internetConnexion/.idea/navEditor.xml
/TP5_weatherApp_internetConnexion/.idea/assetWizardSettings.xml
/TP5_weatherApp_internetConnexion/.DS_Store
/TP5_weatherApp_internetConnexion/build
/TP5_weatherApp_internetConnexion/captures
/TP5_weatherApp_internetConnexion/.externalNativeBuild
/TP5_weatherApp_internetConnexion/.cxx
/TP5_weatherApp_internetConnexion/local.properties

#orderpizza
/Kotlin1_OrderPizza/*.iml
/Kotlin1_OrderPizza/.gradle
/Kotlin1_OrderPizza/local.properties
/Kotlin1_OrderPizza/.idea/caches
/Kotlin1_OrderPizza/.idea/libraries
/Kotlin1_OrderPizza/.idea/modules.xml
/Kotlin1_OrderPizza/.idea/workspace.xml
/Kotlin1_OrderPizza/.idea/navEditor.xml
/Kotlin1_OrderPizza/.idea/assetWizardSettings.xml
/Kotlin1_OrderPizza/.DS_Store
/Kotlin1_OrderPizza/build
/Kotlin1_OrderPizza/captures
/Kotlin1_OrderPizza/.externalNativeBuild
/Kotlin1_OrderPizza/.cxx
/Kotlin1_OrderPizza/local.properties


